#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.story-link {
  position: relative;
  display: inline-block;
}

.story-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: hsl(var(--primary));
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.story-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-scale {
  transition: transform 0.2s ease-out;
}

.hover-scale:hover {
  transform: scale(1.05);
}
